<div class="calc__voltar">
    <a href=""><button>Voltar</button></a>
</div>

<div class="calc__container">
    <div class="calc__form">
        <form action="">
            <h3>Tipo de investimento </h3>
            <input type="radio" id="cdb" name="tipoInvestimento">
            <label for="cdb">CDB</label>

            <input type="radio" id="lci-lca" name="tipoInvestimento">
            <label for="lci-lca">LCI/LCA</label>
            
            <input type="radio" id="tesouro-direto" name="tipoInvestimento">
            <label for="tesouro-direto">Tesouro Direto</label>
            
            <h3>É PRÉ fixado ou PÓS fixado?</h3>

            <input type="radio" id="pre" name="tipoRendimento">
            <label for="pre">Pré</label>

            <input type="radio" id="pos" name="tipoRendimento">
            <label for="pos">Pós</label>
            
            <label for="investimento-inicial">Investimento Inicial (R$)</label>
            <input type="number" id="investimento-inicial">

            <label for="prazo">Prazo (meses)</label>
            <input type="number" id="prazo">

            <label for="investimento-mensal">Investimento Mensal (R$)</label>
            <input type="number" id="investimento-mensal">
            
            <label for="rentabilidade">Rentabilidade (%)</label>
            <input type="number" id="rentabilidade">
            
            <button>Calcular</button>
        </form>
    </div>
</div>
