
.form__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc__voltar > a > button,
.calc__form button {
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    background-color: #58385d;
    color: #ffff;
    border-radius: 8px;
    box-shadow: 2px 4px 2px #000000;
    text-shadow: 1px 1px 2px #000000;
}

.calc__form button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.calc__form button:active {
    position: relative;
    top: 5px;
}

.calc__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc__form {
    background-color: #fff;
    width: 500px;
    height: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px; /* Adicionado padding */
}

.calc__form > form {
    display: flex;
    flex-direction: column;
}

.calc__form label,
.calc__form input[type="radio"],
.calc__form input[type="number"],
.calc__form input[type="text"],
.calc__form button {
    display: block;
    margin-bottom: 10px;
}

.calc__form input[type="radio"],
.calc__form input[type="number"],
.calc__form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    .calc__voltar > a > button,
    .calc__form button {
        width: 100%;
        height: 2.5rem;
    }

    .calc__form {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .calc__form label,
    .calc__form input[type="radio"],
    .calc__form input[type="number"],
    .calc__form input[type="text"],
    .calc__form button {
        margin-bottom: 15px;
    }
}

/* Estilos para dispositivos de tela grande (PCs) */
@media screen and (min-width: 769px) {
    .calc__voltar > a > button,
    .calc__form button {
        width: 10rem;
        height: 2rem;
    }

    .calc__form {
        width: 500px;
        height: 600px;
    }
}

select {
    padding: 8px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #fff; 
    color: #333; 
    cursor: pointer; 
    width: 100%; 
    box-sizing: border-box; 
}


select:focus {
    outline: none; 
    border-color: #5897fb;
    box-shadow: 0 0 5px #5897fb; 
}